header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav {
    display: flex;
    justify-content: space-between;
}

img {
    width: 5%;
}

a {
    margin: 10px;
}
.tit {
    display: block;
   /* background-color: red; */
   /* padding-left: 200px; */
}
.navContainer{
    display: 1200 flex none;
    background-color: grey;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}